# nom d'utilisateur linux
user="@user@"

#dossier à surveiller sur la seedbox
DIR="@folder@"

# nom d'utilisateur SSH
user_SSH="@nasuser@"

# Adresse du NAS
IP="@nasaddr@" 

# emplacement sur le NAS:
dest_NAS="@nasfolder@"

# Modifier --bwlimit=1024 selon vos envies
ARGS="-aPRL --partial-dir=./tmp --temp-dir=./tmp --rsh=ssh --remove-sent-files --bwlimit=@speed@"

#emplacement du fichier de config de la vitesse
conf_speed="@folderweb@/speed.cfg"
